@import url(https://overpass-30e2.kxcdn.com/overpass.css);

$font-stack: Overpass, sans-serif;

// Nord color theme (https://github.com/arcticicestudio/nord)
$bg-color: #eceff4;
$fg-color: #2e3440;
$light-fg-color: #4c566a;

$primary-color: #88c0d0;
$alt-primary-color: #8fbcbb;
$secondary-color: #81a1c1;
$passive-color: #d8dee9;
$highlight-color: #e5e9f0;

$red: #bf616a;
$orange: #d08770;
$yellow: #ebcb8b;
$green: #a3be8c;
$magenta: #b48ead;

// Emojis 🔥🥳
$dinner-emoji: "🍗";
$lunch-emoji: "🥪";
$person-emoji: "🧑";
$sad-emoji: "😿";

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px $passive-color;
    margin: auto;
    max-width: 400px;
}

::selection {
    background-color: $highlight-color;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 97vh;

    font-family: $font-stack;
    background-color: $bg-color;
    color: $fg-color;
}

.content {
    flex: 1;
    padding: 0;
    margin: 0;
}

.login {
    @include center;
    @include container;
    padding: 25px;
}

.input-label {
    font-size: smaller;
    font-weight: bold;
}

.input {
    border: 2px solid $passive-color;
    margin-bottom: 7px;
    padding: 3px 5px 3px 5px;
    border-radius: 2px;
}

.login-button {
    background-color: $primary-color;
    border-radius: 3px;
    border: none;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    font-size: medium;
}

.login-button:hover {
    background-color: $alt-primary-color;
}

.list-container {
    @include container;
    user-select: none;
    padding: 0;

    .empty-message {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $passive-color;
        font-weight: 600;
        text-align: center;
    }
    .empty-message::after {
        content: $sad-emoji;
    }
}

.list-list {
    margin: 0;
    padding: 0;
}

.list-anchor {
    text-decoration: none;
    color: inherit;
    border: none;
}

.lunch-item::before {
    content: $lunch-emoji;
}

.dinner-item::before {
    content: $dinner-emoji;
}

.list-item {
    display: flex;
    justify-content: space-between;
    list-style: none;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid $passive-color;
}

.list-item:hover {
    background-color: $passive-color;
}

.date-content {
    flex-grow: 2;
    padding: 0;
    margin-left: 8px;
}

.attendance-content {
    color: $light-fg-color;
    font-weight: 600;
}
.attendance-content::before {
    content: $person-emoji;
}

.list-header {
    display: flex;
    flex-wrap: wrap;

    user-select: none;
    margin: auto;
    margin-bottom: 8px;
    max-width: 400px;

    h1 {
        width: 100%;
        font-style: normal;
        font-size: 60px;
        letter-spacing: -0.058em;
        line-height: 0.8;
        font-weight: 900;
        margin-bottom: 0;
    }

    h2 {
        font-style: normal;
        font-size: 20px;
        letter-spacing: -0.058em;
        font-weight: 500;

        margin: 0;
        flex-grow: 2;
    }

    .attendance-content {
        font-weight: 600;
    }
}

.user-list {
    margin: 0;
    padding: 0;
}

.user-item {
    list-style: none;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom: 1px solid $passive-color;
}

.user-item:last-child {
    border-bottom: none;
}

.footer {
    flex: none;

    user-select: none;
    color: $passive-color;
    font-weight: bolder;
    text-align: center;

    p {
        margin-bottom: 2px;
    }
}

